<div class="mt-4">
    <h3>Khóa học đã xóa</h3>
    <a href="/me/stored/courses">Khóa học</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <button type="button" class="btn btn-success btn-restore" data-id="{{this._id}}">
                        Khôi phục
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id="{{this._id}}">
                        Xóa
                    </button>
                </td>
            </tr>
                {{else}}
                    <tr>
                        <td colspan="5" class="text-center">
                            Thùng rác trống.
                        </td>
                    </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Xóa khóa học này ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>

    <form class="mt-4" method="POST" name="restore-course-form">

    </form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseID
        var restoreForm = document.forms['restore-course-form']
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        var btnRestore = $('.btn-restore')

        $('#delete-course-modal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            courseID = button.data('id')
        })
        function deleteCourse() {
            fetch(`/courses/${courseID}/force`, {
                method: 'DELETE',
                body: null,
                header: {
                    "Content-type": "application/json"
                }
            })
            .then(() => location.reload())
            .catch(() => console.log('error'))
        }

        btnRestore.click(function() {
            var courseId = $(this).data('id')
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
            restoreForm.submit()
        })

        btnDeleteCourse.onclick = deleteCourse
    })
</script>